body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e8f7ff;
  color: #003b5c;
}

header {
  background-color: #0077b6;
  color: white;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 2em;
  text-align: center;
}

img {
  max-width: 90%;
  border-radius: 10px;
  margin-top: 1em;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 250px;
  padding: 1em;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

footer {
  background-color: #023e8a;
  color: white;
  text-align: center;
  padding: 1em;
  margin-top: 2em;
}

.titulo-animado {
  font-size: 50px;
  color: #e0f7fa;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  text-shadow: 0 0 8px rgba(0, 100, 200, 0.5);
  animation: aparecer 2s ease-in-out;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.botones {
  margin-top: 30px;
  text-align: center;
}

.botones button {
  background-color: #0096c7;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 8px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.botones button:hover {
  background-color: #0077b6;
  transform: scale(1.05);
}